
   $body_background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
    $hoverOpacity: 1;


    //Neon button variables
    $pinkNeon: #d15e90;
    $greenNeon: #05a613;
    $blueNeon: #3310e3;
    $redNeon: #e31010;