
   $body_background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
   $body_background_01: linear-gradient(to bottom , #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   $back_dark: #252838;
   $back_light: #018dc9;

   //*************************
   //Hover button variables
   //*************************
   $textColor: #2e2e2e;
   $mainBackground: #e6ff01;
   $hoverBackground: #000000;
   $hoverOpacity: .5;
   $buttonShadow: 6px 6px 8px rgba(0, 0, 0, .5);

   //*************************
   //Neon button variables
   //*************************
    $pinkNeon: #d15e90;
    $greenNeon: #05a613;
    $blueNeon: #3310e3;
    $redNeon: #e31010;
    $neonFontColor: #FFFFFF;